# Maven
target/
!target/occurrence-annotation-ws-*-exec.jar
.mvn/
mvnw
mvnw.cmd

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore