name: Test r package

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      GBIF_USER: ${{ secrets.GBIF_USER }}
      GBIF_PWD: ${{ secrets.GBIF_PWD }}
      GBIFRULES_URL: http://localhost:8080/occurrence/experimental/annotation/
      GBIFRULES_GITHUB_ACTIONS: true

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: annotation  # Set the database name to "annotation"
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Execute SQL setup
        run: |
          cat backend-service/src/main/resources/schema.sql | PGPASSWORD=password psql -h localhost -U postgres annotation -v ON_ERROR_STOP=1

      - name: Sanity check
        run: |
          PGPASSWORD=password psql -h localhost -U postgres annotation -c "\dt"

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      - name: Build and run Spring Boot App
        run: |
          cd backend-service
          nohup mvn spring-boot:run > spring_boot.log 2>&1 &

      - name: Install libcurl and Others
        run: |
          sudo apt-get update
          sudo apt-get install -y libcurl4-openssl-dev
          sudo apt-get install -y texlive
          sudo apt-get install texlive-fonts-extra

      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Run R Hello World
        run: |
          Rscript -e 'cat("Hello, World!\n")'

      - name: Install system dependencies for 'sf'
        run: |
          sudo apt-get update
          sudo apt-get install -y libudunits2-dev libgdal-dev libgeos-dev libproj-dev

      - name: Install package dependencies (remotes)
        run: |
          list.files()
          setwd("r-package/gbifrules")
          install.packages("remotes")
          remotes::install_deps(dependencies = TRUE)
          # Install suggested packages explicitly
          install.packages(c("pkgdown", "knitr", "rmarkdown"))
        shell: Rscript {0}

      - name: Test R package
        env:
          _R_CHECK_FORCE_SUGGESTS_: false
        run: R CMD check r-package/gbifrules

      - name: Display spring boot nohup output
        run: cat backend-service/spring_boot.log
